@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_drop_down {
  position: relative;
}
.header {
  padding: 30px 9.2rem;
}

.searchFields {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 99;
  position: absolute;
  top: 30px;
  left: 0;
}

.searchFields ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #ebebeb;
  cursor: pointer;
}

.item_menu {
  overflow-y: auto;
  scrollbar-width: thin;
}

.item_menu {
  overflow-y: auto;
}

.item_menu::-webkit-scrollbar {
  width: 10px;
}

.item_menu::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* =========== */
.header_search_drop {
  display: flex;
}
.header_location {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: transform 0.3s ease;
}

.header_location:hover {
  transform: translateY(-5px);
}
/* count css  */
/* .iconMenu{
  position: relative;
}

.count {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  left: 11px;
  top: -5px;
  background-color: green;
} */
